<div class="text-left">
<h4>タスクの新規登録</h4>
<%= form_with model: @task do |f| %>
    <%= render 'commons/form', f: f %>
    <br>
    <%= f.submit '登録する'%>
<% end %>
</div>
<br>
<%= link_to '完了タスクの削除', delete_done_path, class:"btn pull-right", method: :delete,
data: {confirm: '完了したタスクを全て削除しますか？'} %>
<br>
<%= render 'commons/tasks' %>
